<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="make_login()">
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          [formControl]="loginForm.controls['email']"
          placeholder="Ex. example@mail.ru"
        />
        <mat-error
          *ngIf="
            loginForm.controls['email'].hasError('email') &&
            !loginForm.controls['email'].hasError('required')
          "
        >
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          [formControl]="loginForm.controls['password']"
        />
        <mat-error
          *ngIf="
            loginForm.controls['password'].hasError('minlength') &&
            !loginForm.controls['password'].hasError('required')
          "
        >
          Minimum 10 symbols
        </mat-error>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Passwowrd is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <button
      type="submit"
      [disabled]="!loginForm.valid"
      mat-raised-button
      color="primary"
    >
      Login
    </button>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  </form>
</div>
