<div>
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      >Список машин</a
    >
    <a *ngIf="!isLogged" routerLink="/login" routerLinkActive="active-link">Вход</a>
    <a *ngIf="!isLogged" routerLink="/register" routerLinkActive="active-link">Регистрация</a>
    <a *ngIf="isLogged" (click)="logout()">Выйти из аккаунта {{accountUsername}}</a>
    <button (click)="checkUser()">Обновить меню</button>
  </nav>
  <router-outlet></router-outlet>
</div>
